doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    meta(name="description" content="width=device-width, initial-scale=1.0")
    title= title
    link(rel="shortcut icon" type="image/x-icon" href="icons/favicon.ico")
    link(rel="stylesheet", href="/styles/index.css")
    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&display=swap" rel="stylesheet")
    link(href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet")
    script(defer type="module" src="js/menu.js")
    script(defer type="module" src="js/post.js")
    body
    div.navbar
        a.logo(href="/") Snappy
        ul
            li
                a.home-link(href="/")
                    svg.house-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512")
                        path(fill="currentColor" d="M280.37 148.26L96 300.11V464a16 16 0 0016 16l112-.3a16 16 0 0016-15.7V368a16 16 0 0116-16h64a16 16 0 0116 16v95.6a16 16 0 0016 15.7l112 .3a16 16 0 0016-16V300L295.67 148.26a12.19 12.19 0 00-15.3 0z")
            li
                a.users-link(href="/")
                    svg.users-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 512")
                        path(fill="currentColor" d="M144 0a80 80 0 1 1 0 160A80 80 0 1 1 144 0zM512 0a80 80 0 1 1 0 160A80 80 0 1 1 512 0zM0 298.7C0 239.8 47.8 192 106.7 192l42.7 0c15.9 0 31 3.5 44.6 9.7c-1.3 7.2-1.9 14.7-1.9 22.3c0 38.2 16.8 72.5 43.3 96c-.2 0-.4 0-.7 0L21.3 320C9.6 320 0 310.4 0 298.7zM405.3 320c-.2 0-.4 0-.7 0c26.6-23.5 43.3-57.8 43.3-96c0-7.6-.7-15-1.9-22.3c13.6-6.3 28.7-9.7 44.6-9.7l42.7 0C592.2 192 640 239.8 640 298.7c0 11.8-9.6 21.3-21.3 21.3l-213.3 0zM224 224a96 96 0 1 1 192 0 96 96 0 1 1 -192 0zM128 485.3C128 411.7 187.7 352 261.3 352l117.3 0C452.3 352 512 411.7 512 485.3c0 14.7-11.9 26.7-26.7 26.7l-330.7 0c-14.7 0-26.7-11.9-26.7-26.7z")
            li
                a.bell-link(href="/")
                    svg.bell-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                        path(fill="currentColor" d="M224 0c-17.7 0-32 14.3-32 32l0 19.2C119 66 64 130.6 64 208l0 18.8c0 47-17.3 92.4-48.5 127.6l-7.4 8.3c-8.4 9.4-10.4 22.9-5.3 34.4S19.4 416 32 416l384 0c12.6 0 24-7.4 29.2-18.9s3.1-25-5.3-34.4l-7.4-8.3C401.3 319.2 384 273.9 384 226.8l0-18.8c0-77.4-55-142-128-156.8L256 32c0-17.7-14.3-32-32-32zm45.3 493.3c12-12 18.7-28.3 18.7-45.3l-64 0-64 0c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7z")
        div.container-searchBar-login
            input.searchBar(type='search' placeholder='Rechercher...')
            img.search-icon(src="/icons/search.svg" alt="search icon")
            div.user-menu-container
                p.login: a.user-link(href="/")
                    svg.user-icon(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512")
                        path(fill="#currentColor" d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512l388.6 0c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304l-91.4 0z")
                ul.user-dropdown
                    li: a(href="/profile") Mon profil
                    li: a.logout-button(href="/logout") Déconnexion
    div.main-container
        div.left-container
            div.profil
                div.container-picture-name
                    img(src="/img/fashionable-woman.jpeg" alt="user picture" class="user-picture-profile")
                    div.user-content
                        p.username JaneDoe
                        p.identifiant @JaneDoe
                p.biography  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent  eleifend mauris ut sem volutpat euismod. Praesent lacinia quam erat. :scintillements::arc_en_ciel::baiser:
                button.edit-button Modifier
            div.friends
                p.followers 182 ami(e)s
                div.friends-container
                    a(href="/")
                        img(src="/img/prince-akachi.jpg" alt="friend picture" class="friends-picture-profile")
                    a(href="/")
                        img(src="/img/nabih-navarro.jpg" alt="friend picture" class="friends-picture-profile")
                    a(href="/")
                        img(src="/img/stylish-man.jpeg" alt="friend picture" class="friends-picture-profile")
                    a(href="/")
                        img(src="/img/erik-lucatero.jpg" alt="friend picture" class="friends-picture-profile")
                    a(href="/")
                        img(src="/img/bardia-hashemirad.jpg" alt="friend picture" class="friends-picture-profile")
                    a(href="/")
                        img(src="/img/pexels-heftiba.jpg" alt="friend picture" class="friends-picture-profile")
                    a(href="/")
                        img(src="/img/albert-dera.jpg" alt="friend picture" class="friends-picture-profile")
                    a(href="/")
                        img(src="/img/portrait-woman.jpeg" alt="friend picture" class="friends-picture-profile")
                    a(href="/")
                        img(src="/img/jessica-radanavong.jpg" alt="friend picture" class="friends-picture-profile")
                    a(href="/")
                        img(src="/img/lance-reis.jpg" alt="friend picture" class="friends-picture-profile")
                    a(href="/")
                        img(src="/img/bave-pictures.jpg" alt="friend picture" class="friends-picture-profile")
                    a(href="/")
                        img(src="/img/tim-mossholder.jpg" alt="friend picture" class="friends-picture-profile")
                button.show-more-button Voir plus
        div.right-container
            div.post-container
                div.media
                    div.icon-photos-videos(onclick="document.getElementById('uploadFile').click()")
                        img.image-icon(src="/icons/image.svg" alt="image icon")
                        p.post-photo PHOTOS / VIDÉOS
                    input#uploadFile(type="file" accept="image/*" style="display:none")
                    img.camera-icon(src="/icons/camera.svg" alt="")
                    p.live VIDÉO EN DIRECT
                div.img-input-container
                    img(src="/img/fashionable-woman.jpeg" alt="user picture" class="user-picture-post")
                    form(action="/posts" method="post").input-wrapper
                        textarea.whatsup(name="post" placeholder='Quoi de neuf Jane ?')
                        img.smiley-whatsup-icon(src="/icons/smiley.svg" alt="smiley-icon")
                        button.post-button Publier
            div.feed
                div.feed-content
                    div.img-name-date-container
                        img(src="/img/jessica-radanavong.jpg" alt="user picture" class="user-picture-feed")
                        div.user-content
                            p.username-feed Jane Doe
                            p.feed-date 19 avril 2025
                        div.feed-button
                            button.follow-button Suivi(e)
                    p.legend-feed Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent  eleifend mauris ut sem volutpat euismod. Praesent lacinia quam erat,  vitae tempor massa accumsan in. Etiam id tristique ligula, eget auctor  tortor. Morbi da vitae neque. Aenean fermentum mattis  malesuada.
                    img(src="/img/urban-fashion.jpeg" alt="feed picture" class="feed-picture")
                    //- each post in posts
                    //-     p= post.text
                div.feed-footer
                    div.like-share-comment
                        div.interactions
                            img.heart-icon(src="/icons/heart.svg" alt="heart icon")
                            p.nb-likes 1.8K
                            img.comment-icon(src="/icons/comment.svg" alt="comment icon")
                            p.nb-comment 12.8K
                            img.share-icon(src="/icons/share.svg" alt="share icon")
                            p.nb-share 18K
                        div.save-container
                            img.save-icon(src="/icons/save.svg" alt="save icon")
                    div.comment-container
                        div.input-wrapper
                            input.comment-feed(type="text-area" placeholder='Ajouter un commentaire...')
                            img.smiley-icon(src="/icons/smiley.svg" alt="smiley-icon")
                        button.comment-button
                            img.send-icon(src="/icons/send.svg" alt="send-icon")
